<h1>Livros cadastrados</h1>

<div class="books-container">
    <p>Cadastrar mais livros <a href="/">CADASTRAR</a></p>
    {{#each books}}
        <div>
            #{{this.id}} - 
            <span class="bold"><a href="/books/{{this.id}}">{{this.title}}</a></span> -
            {{this.pageqty}} paginas
            
        </div>
    {{/each}}
</div>